doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Akshay's CoolChat App
    link(rel="shortcut icon" type="image/png" href="/static/1.png")
    script(defer src="/socket.io/socket.io.js")
    script(src="https://kit.fontawesome.com/f6a5369996.js" crossorigin="anonymous")
    link(rel="stylesheet" href="/static/style.css")
  body
    .chatbox
      section
        h1
          i.fab.fa-atlassian
          | CoolChat
        button.theme(onclick="change()")
          i.far.fa-image
      #chat.container
      .send
        form(action="#" id="send-container")
          input(type="text" name="messageInp" autocomplete="off" id="messageInp" placeholder="Type a message" required)
          button.btn(type="submit")
            i.fas.fa-paper-plane
    script(defer src="/static/client.js")